/*---------- ??? ----------------------------------------*/
.clear { clear: both; }

img {
  border: none;
  border-radius: 40px;
}

.zoom {
  transition: transform 1.5s;
  border: 5px solid gold;
}

.zoom:hover { transform: scale(1.8); }

h2,h3 {
  font-family: Comic;
  color: navy;
}

p { font-family: monospace; }

#principal { background-color: darkkhaki; }

#secundario a {
  color: darkgreen;
  font-weight: bold;
}

#secundario { background-color: darkgray; }

/*-- Contenedor ----------------------------------------------------------*/
#contenedor {
  width: 90%;
  max-width: 1000px;
  background-color: coral; 
  margin: auto;
}

#cabecera, #menu, #lateral, #lateral #noticias, #lateral #publicidad, #contenido, #contenido #principal,#contenido #secundario,#pie { padding: .5em; }

#cabecera, #menu, #lateral, #contenido, #contenido #principal, #contenido #secundario, #pie { border: 0px solid #777; }

#cabecera { clear: both; }

/*----------- Lateral ---------------------------------------------------*/

#lateral #publicidad { margin-top: 1em; }

#lateral {
  float: left;
  width: 20%;
  background-color: darkseagreen;
}

#lateral { padding: 0; }

/*-- Cabecera --------------------------------------------------------*/
#cabecera #logo { float: left; }

#cabecera #buscador { float: right; }

#cabecera { padding: 1em; }

/*-- Menu ------------------------------------------------------------*/
#menu { margin-bottom: .5em; }

#menu { clear: both; }

#menu_principal, #noticias{
  float: left;
}

#menu_principal a:hover, #noticias a:hover, #pie .enlaces a:hover {
  background-color: yellow;
}

#menu_principal li, #noticias li{
  display: flex;
  float: left;
}

#menu_principal a, #noticias a, #pie .enlaces a{
  color: black;
  text-decoration: none;
  padding: 10px;
  background-color: powderblue;
  border: 2px solid white;
  font-family: 'Courier New', Courier, monospace;
  margin-right: 16px;
  margin-left: 16px;
  margin-top: 16px;
  border-radius: 30px;
  color: darkred;
  font-weight: bold;

  box-shadow: 0px 1px 0px hsl(180,100%,40%),
              0px 2px 0px hsl(180,100%,37%),
              0px 3px 0px hsl(180,100%,35%),
              0px 4px 0px hsl(180,100%,33%),
              0px 5px 0px hsl(180,100%,31%),
              0px 6px 0px hsl(180,100%,20%),
              0px 7px 10px#000;
}

/*-- Sección Contenido Principal Secundario -----------------------------------------------*/
#contenido {
  width: 77%;
  padding: 0;
}

#contenido {
  float: right;
  width: 78%;
}

#contenido #principal {
  float: left;
  width: 78%;
}

#contenido #principal .articulo img {
  width: 120px;
  float: left;
}

#contenido #principal .articulo { margin-bottom: 1em; }

#contenido #principal .articulo img { margin: 1em; }

#contenido #principal { width: 73%; }

#contenido #secundario {
  float: right;
  width: 20%;
}

/*-- Pie de página ---------------------------------------------------*/
#pie .enlaces   {
  float: left;
  margin-left: 10px;
}

#pie .copyright { float: right; }

#pie {
  clear: both;
  background-color: darkgrey ;
}

#pie {
  padding: 2em 0;
  margin-top: 1em;
}




